@import "tailwindcss";

:root {
  --background: #ffffff;
  --almost-black: #191919;
  --grey: #a5a5a5;
  --light-grey: #e7e7e7;
  --foreground: var(--almost-black);
  --font-sans: "public-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-ocr: "ocr-b", monospace;
  --page-margin: 1.565rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --foreground: #ffffff;
  }
}

body {
  margin: 0;
  padding-inline: var(--page-margin);

  font-family: var(--font-sans);

  display: grid;
  /* Mobil (default) */
  grid-template-columns:
    [full-start content-start] minmax(0, 1fr)
    [content-end full-end];
}

/* Fonts */
h1,
h2,
h3,
h4 {
  font-family: "ocr-b", monospace;
  text-transform: lowercase;
}

@theme {
  --font-size-h1: 4.6875rem;
  --font-size-h2: 3.4375rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.6rem;
  --font-size-title: 1.25rem;
  --font-size-body: 1rem;
  --font-ocr: "ocr-b", monospace;

  --spacing-side: 1.565rem;
}

/* Grids */

.full-bleed {
  grid-column: full-start / full-end;
  margin-inline: calc(var(--page-margin) * -1);
}

.content {
  grid-column: content-start / content-end;
}

/* Tablet */
@media (min-width: 768px) {
  body {
    grid-template-columns:
      [full-start content-start] repeat(3, minmax(0, 1fr))
      [content-end full-end];
  }
}

/* Desktop */
@media (min-width: 1024px) {
  body {
    grid-template-columns:
      [full-start content-start] repeat(5, minmax(0, 1fr))
      [content-end full-end];
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
